body {
  font-family: "San Francisco", Arial, sans-serif !important;
  padding: 0 !important;
  margin: 0 !important;
  display: flex;
  justify-content: center;
  flex-direction: column !important;
  height: auto;
  width: auto;
  overflow-y: auto;
}
.title {
  width: 100vw;
  height: auto !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 0;
}

.location {
  margin-top: 3vh !important;
  width: 100vw;
  height: 50vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

iframe {
  width: 700px;
  height: 500px;
  border: 0;
  border-radius: 2%;
}
.location img {
  transition: transform 0.3s ease; /* Cambio graduale della trasformazione con durata di 0.3 secondi e funzione di accelerazione */
}

.location img:hover {
  transform: scale(1.15);
}

.info {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 2vh;
  width: 80vw;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* =================================================================*/
.selectElement {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  background-color: #f9f9f9;
}

.selectElement button {
  height: auto;
  width: 15vw;
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.selectElement button:hover {
  background-color: #e6e6e6;
  transform: translateY(-2px);
}

.selectElement .btnSend {
  margin-top: 10px;
  text-align: center;
}

.selectElement .btnSend button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 10px 20px;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.selectElement .btnSend button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.divBtnElement {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  justify-content: center;
  padding: 20px;
  margin-bottom: 5vh !important;
}

.divBtnSend {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.selected {
  background-color: rgba(51, 51, 51, 0.4) !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
  transform: scale(1.05);
}

.element {
  margin-bottom: 2.75vh;
  font-size: 30px !important;
}
