body {
  font-family: "San Francisco", Arial, sans-serif !important;
  padding: 0 !important;
  margin: 0 !important;
  display: flex;
  justify-content: center;
  flex-direction: column !important;
}
.title {
  width: 100vw;
  height: auto !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 0;
}

.location {
  margin-top: 3vh !important;
  width: 100vw;
  height: 50vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

iframe {
  width: 80%;
  height: 100%;
  border: 0;
}
.location img {
  transition: transform 0.3s ease; /* Cambio graduale della trasformazione con durata di 0.3 secondi e funzione di accelerazione */
}

.location img:hover {
  transform: scale(1.15);
}

.info {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 2vh;
  width: 80vw;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* =================================================================*/
.selectElement {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;

  justify-content: center;
  align-items: center;
}

.selectElement button {
  height: auto;
  width: 15vw;
  display: block;
  margin-bottom: 10px;
  padding: 5px 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.selectElement button:hover {
  background-color: #e0e0e0;
}

.selectElement .btnSend {
  margin-top: 10px;
  text-align: center;
}

.selectElement .btnSend button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.selectElement .btnSend button:hover {
  background-color: #0056b3;
}

.divBtnElement {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  justify-content: center;
}

.divBtnSend {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected {
  background-color: #33333365 !important;
}
