body {
  width: 100vw !important;
  height: 100vh !important;
  padding: 0 !important;
  margin: 0 !important;
  font-family: "San Francisco", Arial, sans-serif !important;
}

.title {
  margin-top: 5vh;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: #333; /* Colore del testo scuro */
  margin-bottom: 5vh;
  padding-bottom: 10px; /* Spazio sotto al titolo */
}

.detailContaienr {
  height: 70vh;
  margin-left: 10vw;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 20px;
}

.detail p {
  font-size: 1.5rem !important;
  margin: 8px 0;
}

.detail p:hover {
  font-weight: bold;
}
.detail a {
  color: #007bff;
  text-decoration: none;
}

.detail a:hover {
  text-decoration: underline;
}

/* Stile per il contenitore dei volumi */
.divVolumi {
  margin-top: 3vh;
  max-height: 20vh;
  overflow-y: auto;
  width: 100%;
  display: flex;
  justify-content: top; /* Modifica: centrato verticalmente */
  align-items: flex-start; /* Modifica: inizia dall'alto */
  flex-direction: column;
}

/* Stile per ogni singolo volume */
.divVolume {
  display: flex;
  justify-content: space-between; /* Modifica: spazio tra gli elementi */
  align-items: center;
  width: 90%; /* Modifica: ridotta la larghezza per margini laterali uniformi */
  margin: 5px auto; /* Modifica: margini superiori e inferiori auto per centrare */
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
  transition: all 0.3s;
}

.divVolume p {
  margin: 0;
}

.btnPrenotazione {
  display: inline-block;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btnPrenotazione:hover {
  background-color: #0056b3;
}
